* {
    list-style: none;
}

/* search box */
#search_bar {
    margin-right: 10px;
}

/* definition box */
ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* word requested (in quotebox) */
#word-requested {
    font-size: 30px;
    font-weight: bold;
}

/* header and footer */
footer {
    height: 100px;
    margin-top: 15px;
}


/* blockquote */
#quote {
    background-color: rgb(230, 220, 220);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* previous searches box */
#recent_searches {
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#search-list {
    padding-left: 15px;
}

/* meme box */
#meme {
    height: 400px;
    background-color: rgb(245, 245, 247);
}

