* {
    list-style: none;
}

/* definition box */
ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* word requested (in quotebox) */
#word-requested {
    font-size: 30px;
    font-weight: bold;
}

/* header and footer */
footer {
    height: 100px;
    margin-top: 15px;
}

#meme {
    background-color: rgb(245, 245, 247);
}

/* blockquote */
#quote {
    background-color: rgb(230, 220, 220);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* previous searches box */
#previous_searches {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 380px;
    font-size: 18px;
}

#search-list {
    padding-left: 15px;
}